
html, body {
    height: 100%;
    width: 100%;
    margin: 0
}

body{
  display: flex;
  flex-direction: column;
  height: 100vh;

  font-family: sans-serif;
}

.container{
  display: flex;
  flex: 10;
  flex-direction: row-reverse;

  background: #CCC;
}

header, footer, nav, main, aside{
  display: flex;
  align-items: center;
  justify-content: center;
}

header, footer{
  flex-grow: 1;
  background: #DDD;
}

nav, aside{
  flex: 1;
  background: #f88b15;
}

main{
  flex: 6;
  background: #ccF;
}
